button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $lighter-gray;
	border-radius: 3px;
	background: $gray;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $secondary;
	}

	&:active,
	&:focus {
		border-color: $alert;
	}
}
