/* Configuration
   ========================================================================== */

   $edit-mode: false !default; // [ true / false ] - Enables/disables the grid toggle button.

   // Theme / Fonts
   $theme: OpenSans !default; // [ Merriweather / OpenSans / custom ]
   $custom-font-body: Merriweather !default; // [ "Libre Baskerville", Georgia, serif ]
   $custom-font-headings: Merriweather !default;
   
   // Paragraph indenting
   $paragraph-indent: false; // [ true / false ]
   
   // Base sizes
   $base-font-size: 200 !default; // In %. Also used for mobile. Number only, no units.
   $base-font-size-desktop: 112.5 !default; // In %. Used to calculate the desktop font size. Number only, no units.
   $line-height: 3 !default;
   $line-height-desktop: 1.7 !default;
   $max-width: 35 !default; // Number only, no units. Gets converted to REMs and pixels.
   
   // Modular Scale
   $modular-scale: (
     xxxl: 4.3,
     xxl: 3.5,
     xl: 3,
     l: 2.5,
     m: 2,
     s: 1.6875,
     xs: 1.4375,
     xxs: 1.2,
     xxxs: 1,
     xxxxs: .8125
   ) !default;
   
   // Colors
   $color-font-body:red !default;
   $color-font-headings: $color-font-body !default;
   $color-font-light: #888 !default;
   $color-font-figcaption: $color-font-body !default;
   
   /* Calculations
      ========================================================================== */
   
   // Mobile base & leading
   $base: 16 * ($base-font-size / 100);
   $leading: round($base * $line-height);
   $leading-rem: $leading / $base;
   
   // Desktop base & leading
   $base-desktop: 20 * ($base-font-size-desktop / 100);
   $leading-desktop: round($base-desktop * $line-height-desktop);
   $leading-rem-desktop: $leading-desktop / $base-desktop;
   
   /* Font themes
      ========================================================================== */
   
   $font-body: null;
   $font-headings: null;
   
   @if $theme == Merriweather {
   
     // Import Merriweather
     @import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
   
     // Set body font
     $font-body: Merriweather, Georgia, serif;
     $font-headings: Merriweather;
   
   } @else if $theme == OpenSans {
   
     // Import Open Sans
     @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
   
     // Set body font
     $font-body: Open Sans, Arial, Helvetica, Sans-serif;
   
   } @else if $theme == custom {
   
     // Set custom body font
     $font-body: $custom-font-body;
   
     // Set custom headings font
     @if $custom-font-headings != $custom-font-body {
       $font-headings: $custom-font-headings;
     }
   }